extends layout

h1= title

block content
  .sub-logo
    a(href="/")
      img#logo(src="../img/carlhacks.png")
  br
  br
  .container
    #projects
      - each project in projects
        div.project
          div Team #{project.tname}
          div.bracket #{project.bracket} hour bracket
          div Members:
            - each person in project.tmems
              span= person
              br
          div.description= project.description
            img.screen-shot(src="img/#{project.img.url}/#{project.img.contentType}")
          div Technologies Used:
            - each tech in project.techs
              span= tech
              br
        hr
