extends layout

h1= title

block content
  .sub-logo.border
    a(href="/")
      img#logo(src="../img/carlhacks.png")
  - rev_projects = projects.reverse()
  - each project in rev_projects
    .border
      .container
        .col-xs-12.col-sm-8.col-sm-offset-2
            br
            div.project
              div.team #{project.tname}
              div.members
                span= project.tmems
                span.bracket  (#{project.bracket}-hour bracket)
              hr
              div.description= project.description
              a(href="/imgs/#{project.img}")
                img.screen-shot(src="/imgs/#{project.img}")
              div.techs <strong>Technologies Used:</strong> #{project.techs}
            br
